.container
  p
    i(class="fa fa-bold fa-copyright fa-flip-horizontal", style="font-weight: bold;")
    a(href='#')  Alexei Bastidas
    = ' | '
    a(href='#') Andres Cuervo
    = ' | '
    a(href='#') Fidel Salgado
    = ' | '
    a(href='#') Linda Ortega Cordoves
