header#banner.hero-unit
  .container
    h1 Welcome to Footsteps
    p.lead  An interactive empathy experience.

.container()
  .row.centered
    .col-lg-12
      form(ng-submit='toOverview()', ng-controller='SubmitController')
        .form-group#landing-form
          .checkbox
            label
                  input(type='checkbox', ng-model='checked', ng-init='checked=false')
                  |  I agree to the
                  a#tos(href="javascript:void(0);")
                    |  Terms & Conditions.
                  br
        br
        button.btn.btn-default.next(type='submit', ng-disabled="!checked")
            | Submit
