header#banner.hero-unit
  .container
    h1 Welcome to Footsteps
    p.lead  An interactive empathy experience.
    // img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-12
      form
        .form-group
          .checkbox
            label
              input(type='checkbox')
              |  I agree to the
              a(href="javascript:void(0);")
                |  Terms & Conditions.
        button(type='submit').btn.btn-default
          | Submit
        div(ng-controller="MainController")
          label(ng-if="!testing") Hellllloooooooooooo
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in $ctrl.awesomeThings')
        li
          a(href='#', uib-tooltip='{{thing.info}}')
            | {{thing.name}}
