// Variables
$dark: #2C2733;
$white: #DDD;
$hover-dark: #c19747;
$accent: #81D1CC;


* {
  font-size: 16px;
}

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: $accent;
}

a {
  &:hover, &:focus, &:active {
    text-decoration: none !important;
  }
}

#landing-form {
  font-size: 1.2em;
}

#tos{
  color: $hover-dark;
  &:hover {
    color: $dark;
  }
}

// Navbar Edits
.navbar-default {
  .navbar-brand {
    font-size: 1.5em;
    color: $white;
    &:hover {
      color: $hover-dark;
    }
  }
}
.navbar {
  border: none;
}

.navbar, footer.footer, .no-js {
  background-color: $dark;
}

// Lol, also just fix the goddamn spacing on all the pages :(
.btn {
  border-radius: 0;
  border: none !important;
  background-color: $accent !important;
  color: white !important;
  transition: background-color 0.15s ease-in;
  cursor: pointer;
  padding: 6px 1.2em;

  &:hover {
    background-color: #70B5B1 !important;
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #ddd !important;
    color: darkgray !important;
  }

}

button .fa-arrow-right {
  padding-left: 8px;
}

.next {
  float: right;
  margin: 2.3em;
}

.centered {
    text-align: center;
}
