.container#overview-container(ng-controller="overviewCtrl")
  ul.overview-list
    li.overview-item(ng-click="selected = 0", ng-class="{'selected-class' : selected == 0}")
      | Talking to TA
    li.overview-item(ng-click="selected = 1", ng-class="{'selected-class' : selected == 1}")
      | Walking Home
    li.overview-item(ng-click="selected = 2", ng-class="{'selected-class' : selected == 2}")
      | Interviewing for Job
  .side-img
    img(ng-src="{{actions[selected].img_url}}")
  a(href="/reflection")
    button.btn.btn-default.next(type='submit')
      | Next
      i(class="fa fa-arrow-right")
