div test
div(class="container", ng-controller="sentimentController")
div(class="camera")
    video(id="video")
    button(id="startbutton") take pic
canvas(id="canvas")
div(class="output")
    img(id="photo")
