div(ng-controller="sentimentController")
  #main-video-container
    video#main-video
      source(src="https://s3-us-west-1.amazonaws.com/footstepscode2040/Sequence+01.mov")
    div.play-button(id='startVideoBtn')
div(id="camera")
    video(id='user_video', style='display:none;')
    canvas(id='canvas', style='display:none;')
    img(id="photo", style='display:none;')
