div(class="container", ng-controller="reportGraphController")
    h1(class="center-block") Report:
    h3(class="center-block") Baseline:
    img#basegraph
    h3(class="center-block") Your Graph:
    img#usergraph
    div#reportView